@media (max-width: 1439px) {
    .container {
        max-width: 1140px;
    }
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 992px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 521px;
            column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .benefit {
        &__wrapper {
            grid-template-columns: repeat(2,363px);
        }
    }
    .skills {
        &__items {
            grid-template: repeat(2,minmax(285px,auto))/repeat(4,233px);
            grid-auto-rows: minmax(285px,auto);
        }
        &__progress {
            grid-template: repeat(2,minmax(70px,auto))/repeat(3,300px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(2, 280px) / repeat(3, 280px);
            grid-auto-rows: 280px;
            justify-content: center;
            gap: 20px;
            .horizontal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 29px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 54%/cover;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }
    .benefit {
        &__wrapper {
            grid-template-columns: repeat(2,245px);
            column-gap: 100px;
        }
        &__item {
            &-icon {
                bottom: 18px;
                &_bottom {
                    bottom: 38px;
                }
            }
            &-body {
                font-size: 12px;
            }
        }
    }
    .skills {
        &__items {
            grid-template: repeat(3,minmax(322px,auto))/repeat(3,225px);
            grid-auto-rows: minmax(322px,auto);
        }
        &__progress {
            margin-top: 80px;
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,332px);
            column-gap: 55px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(3, 280px) / repeat(2, 280px);
        }
    }
    .price-list {
        &__items {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 330px);
            grid-auto-rows: minmax(45px, auto);
            justify-content: space-between;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__descr {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                grid-auto-rows: minmax(115px,auto);
            }
        }
    }
    .benefit {
        padding-top: 46px;
        &__wrapper {
            grid-template-columns: 410px;
            grid-auto-rows: minmax(380px, auto);
            row-gap: 40px;
        }
        &__item {
            &-icon {
                bottom: 0;
            }
        }
    }
    .skills {
        padding-top: 46px;
        &__items {
            grid-template: repeat(4,minmax(305px,auto))/repeat(2,255px);
            grid-auto-rows: minmax(305px,auto);
            gap: 11px;
        }
        &__progress {
            margin-top: 40px;
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,250px);
            column-gap: 40px;
            &-item {
                grid-template: minmax(21px,auto) 14px/200px 35px;
            }
        }
    }
    .portfolio {
        padding-top: 46px;
        &__wrapper {
            margin-top: 40px;
            grid-template: repeat(3, 260px) / repeat(2, 260px);
            grid-auto-rows: 260px;
            gap: 15px;
        }
    }
    .price-list {
        .divider {
            margin-top: 20px;
        }
        padding-top: 46px;
        &__items {
            grid-template-columns: repeat(auto-fit, 390px);
            margin-top: 40px;
            justify-content: center;
            row-gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
        &_fz36 {
            margin-top: 26px;
            font-size: 23px;
            line-height: 36px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/main_bg.jpg') no-repeat 59%/cover;
        &__title {
            line-height: 39px;
            width: 300px;
        }
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
            row-gap: 20px;
        }
        &__descr {
            padding-top: 20px;
            .divider {
                margin: 15px 0 0 0;
            }
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .benefit {
        &__wrapper {
            padding: 40px 5px 0 5px;
            grid-template-columns: 290px;
            grid-auto-rows: minmax(428px, auto);
        }
        &__item {
            &-icon {
                &_bottom {
                    &_18 {
                        bottom: 18px;
                    }
                }
            }
        }
    }
    .skills {
        &__items {
            grid-template: repeat(7,minmax(270px,auto)) / 300px;
            grid-auto-rows: minmax(270, auto);
            padding: 0;
            column-gap: 0;
            row-gap: 20px;
        }
        &__progress {
            grid-template-columns: repeat(auto-fit, 300px);
            grid-auto-rows: minmax(70px, auto);
            row-gap: 40px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template: repeat(6, 280px) / 280px;
            grid-auto-rows: 280px;
            row-gap: 20px;
        }
    }
    .price-list {
        &__items {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
}