.sidepanel {
    position: fixed;
    top: 230px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 340px;
    z-index: 3;
    &__link {
        svg path {
            &:hover {
                fill: $main-color;
            }
        }
    }
    &__divider {
        height: 70px;
        width: 2px;
        background: #000000;
    }
    &__text {
        height: 150px;
        width: 25px;
        span {
            display: block;
            width: 150px;
            transform: rotate(-90deg) translate(-30%, -295%);
        }
    }
}